@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Moon+Dance&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

/* header content */
/* .pf .p2{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
} */

.animated-text span {
    opacity: 0;
    /* Hide letters initially */
    transform: translateY(10px);
    /* Move letters slightly down */
    display: inline-block;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateY(10px); */
    }

    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

/* Apply delays to each letter */
.animated-text span:nth-child(1) {
    animation-delay: 0s;
}

.animated-text span:nth-child(2) {
    animation-delay: 0.1s;
}

.animated-text span:nth-child(3) {
    animation-delay: 0.15s;
}

.animated-text span:nth-child(4) {
    animation-delay: 0.2s;
}

.animated-text span:nth-child(5) {
    animation-delay: 0.25s;
}

.animated-text span:nth-child(6) {
    animation-delay: 0.3s;
}

.animated-text span:nth-child(8) {
    animation-delay: 0.35s;
}

.animated-text span:nth-child(9) {
    animation-delay: 0.4s;
}

.animated-text span:nth-child(10) {
    animation-delay: 0.45s;
}

.animated-text span:nth-child(11) {
    animation-delay: 0.5s;
}

.animated-text span:nth-child(12) {
    animation-delay: 0.55s;
}

.animated-text span:nth-child(13) {
    animation-delay: 0.6s;
}

.animated-text span:nth-child(14) {
    animation-delay: 0.65s;
}

.animated-text span:nth-child(15) {
    animation-delay: 0.6s;
}

.animated-text span:nth-child(16) {
    animation-delay: 0.7s;
}

.animated-text span:nth-child(17) {
    animation-delay: 0.8s;
}

.animated-text span:nth-child(18) {
    animation-delay: 0.9s;
}

.d1header {

    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.header .b1header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 10px;
    z-index: 9999;
    background: rgba(248, 242, 235,0.3);
    border: solid black;
    border-radius: 50px;
    font-family: poppins;
    position: fixed;
    /* color: #fffcfc; */
    width: 40vw;
}

.iland {
    justify-content: space-around;
    color: #fff;
    font-size: 17px;
}

.iland a {
    color: #fff;
}

.header {
    text-align: center;
    padding: 10px;
}

.one1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#ct {
    margin: 10px;
    display: flex;
    width: 23vw;
}

#ct3 {
    margin: 10px;
    display: flex;
    width: 23vw;
}

#ct2 {
    margin: 10px;
    display: flex;
    width: 23vw;
}

.one1 .div {
    justify-content: left;
    align-items: start;
}

.ccp {
    margin-right: 20px;
}

.ccp2 {
    text-align: left;
    color: #fff;
}

.ccp2 p {
    color: #fff;


}


/* main content */
.proo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.pf button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px;
}

#contacttbtn {
    border: none;
    /* background-color: aqua; */
    font-size: 15px;
    padding: 0px 18px;
    border-radius: 12px;
}

#a1 {
    display: flex;
    justify-self: left;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-family: Montserrat;
    font-weight: 4000;
    letter-spacing: -3px;
    /* Decreases space between letters */

}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading {
    font-size: 18px;
}

.one:hover {
    transform: scale(1.02);
}

.one {
    padding: 10px;
    margin: 10px;
    /* cursor: pointer; */
    border-radius: 15px;
    /* height: 15vh; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 25vw;
    box-shadow: none;
    /* background-color: rgb(32, 31, 31); */
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.doing {
    width: 30vw;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    background-color: rgb(3, 9, 31);
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    /* cursor: pointer; */
}

.doing:hover {
    transform: scale(1.02);
}

.p1 {
    color: rgb(0, 255, 47);
}

h2 {
    color: rgb(0, 255, 47);

}

.box2 {
    width: 80vw;
}

.techicon {
    padding: 10px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    /* cursor: pointer; */
}

.techicon:hover {
    transform: scale(1.3);
}

.icons {
    flex-wrap: wrap;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume,
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    text-align: center;
    width: 75vw;
    color: aliceblue;
    background-color: rgb(23, 28, 47);
    padding: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    /* background-color: #000; */
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.section2 {
    text-align: center;
    width: 75vw;
    display: none;
    background-color: rgb(3, 9, 31);
    padding: 25px;
    color: #fff;

    overflow: hidden;
    transform: translateY(-10px);
    /* transition: transform 0.5s ease-out, opacity 0.5s ease-out; */
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    /* background-color: #000; */
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#about .hump {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 22px;
    width: 70vw;
    padding: 20px;
    overflow: hidden;
}

.resumebtn {
    border: none;
    /* background-color: antiquewhite; */
    padding: 5px 30px;
    border-radius: 25px;
    background: linear-gradient(45deg, rgb(250, 188, 188), rgb(250, 226, 169));
    font-family: poppins;
    font-size: 20px;
    /* font-weight: 00; */
}

.resumebtn:hover {
    background: linear-gradient(45deg, yellow, rgb(118, 239, 53));
}



.main {
    padding: 20px;
    flex: 1;
    /* background-color: rgb(32, 31, 31); */
    font-size: 15px;
    font-family: poppins;
}

#edu,
#edu2,
#edu3 {
    padding: 5px;
    background-color: rgb(32, 31, 31);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#two {
    display: flex;
    justify-content: center;
}

#edu2 {
    text-align: center;
    width: 100px;
}

#edu3 {
    text-align: center;
    width: 120px;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .projectsbtn {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    background-color: none;
}


#btnmain {
    cursor: pointer;
    padding: 50px;
    margin: 10px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    height: 180px;
    border-radius: 12px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#btnmain:hover {
    transform: scale(1.05);
}

.main .mainb1 {
    background-color: rgba(203, 6, 6, 0.966);
    /* color: aliceblue; */
    font-size: 25px;
    font-family: poppins;
}

.main .mainb2 {
    background-color: rgb(8, 175, 92);
    font-size: 25px;
    font-family: poppins;
}

.main .mainb3 {
    background-color: rgba(220, 35, 220, 0.774);
    font-size: 25px;
    font-family: poppins;
}

.main .mainb4 {
    background-color: rgba(247, 185, 14, 0.842);
    font-size: 25px;
    font-family: poppins;
}

.main .mainb5 {
    background-color: rgb(55, 183, 234);
    font-size: 25px;
    font-family: poppins;
}

.main .mainb6 {
    background-color: rgba(247, 108, 132, 0.873);
    font-size: 25px;
    font-family: poppins;
}

.main .mainb7 {
    background-color: rgb(115, 114, 114);
    font-size: 25px;
    font-family: poppins;
}

.main .mainb8 {
    background-color: rgba(250, 128, 114, 0.886);
    font-size: 25px;
    font-family: poppins;
}

.main .mainb9 {
    background-color: rgba(86, 22, 22, 0.767);
    font-size: 25px;
    font-family: poppins;
}


.f {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}


.footer {
    padding: 20px 20px 50px 20px;
    font-family: poppins;
    gap: 20px;
    text-align: center;
    /* background-color: rgb(32, 31, 31); */
    color: #fff;
}

.footer .b1footer {
    background-color: white;
    border-radius: 8px;
    border: 1px solid;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
}

.footer .b2footer {
    background-color: white;
    border-radius: 8px;
    border: 1px solid;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
}

.footer .b3footer {
    background-color: white;
    border-radius: 8px;
    border: 1px solid;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
}

.footer .p3footer {
    text-decoration: none;
    color: rgb(144, 139, 139);
}

a {
    text-decoration: none;
}

/* ........................................................................................ */


@media (max-width:600px) {
    .main .projectsbtn {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        background-color: none;
    }
    h1{
        font-size: 25px;
    }
    .iland {
        justify-content: space-around;
        color: #fff;
        font-size: 15px;
    }

    .header .b1header {
        width: 70vw;
    }

    .one1 {
        display: flex;
        /* background-color: aqua; */
        /* width: 75vw; */
        flex-wrap: wrap;
        flex-direction: column;
        /* overflow:; */

        /* height: 10vh; */
    }

    #ct {
        /* background-color:blueviolet ; */

        width: 70vw;
    }

    #ct3 {
        /* background-color:blueviolet ; */

        width: 70vw;
    }

    #ct2 {
        /* background-color:blueviolet ; */

        width: 70vw;
    }

    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .proo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pro {
        /* background-color: aqua; */
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .box1 .one {
        width: 60vw;
    }

    .doing {
        width: 60vw;
        padding: 10px;
    }
    /* .pf .p2{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
    } */
    #about .hump {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        align-items: center;
        /* background-color: aqua; */
        flex-direction: column;
    }
}

/* ...................................................................................... */

/* Light Mode Styles */
.light-mode {
    background-color: rgb(248, 242, 235);
    color: black;
}
/* Make other elements match light mode */
.light-mode h1, 
.light-mode .body,
.light-mode .doing h4
{
    /* background-color: rgba(135, 78, 13, 0.9); */
    color: black;
}
.light-mode p{
    color: #000;
}
.light-mode .section{
    background-color: rgb(235, 206, 182);
}
.light-mode .section2{
    background-color: rgb(235, 206, 182);
}
.light-mode .doing{
    background-color: rgb(251, 227, 208);
}

.light-mode #black{
    color: #000;
}
.light-mode #blue{
    color: blue;
}
.light-mode .iland a{
    color: #000;
}
.light-mode .p1footer,
.light-mode .p2footer{
    color: #fff;
}

#theme-toggle{
    padding: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 5px 3px 8px rgba(0.1, 0.1, 0.1, 0.5);
    /* background-color: rgb(255, 191, 72); */
}

#theme-toggle:hover{
    /* background-color: rgb(229, 105, 22); */
    transform: scale(1.1);
}
